ws/SampleSOAPApp/src/conf/xml-resources/web-service-references/PublishingBean/wsdl/localhost_8080/PublishingBeanService/PublishingBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PublishingBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/PublishingBeanService/PublishingBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getAddresses">
<part name="parameters" element="tns:getAddresses"/>
</message>
<message name="getAddressesResponse">
<part name="parameters" element="tns:getAddressesResponse"/>
</message>
<message name="getAddressesByState">
<part name="parameters" element="tns:getAddressesByState"/>
</message>
<message name="getAddressesByStateResponse">
<part name="parameters" element="tns:getAddressesByStateResponse"/>
</message>
<message name="getAddressesByZip">
<part name="parameters" element="tns:getAddressesByZip"/>
</message>
<message name="getAddressesByZipResponse">
<part name="parameters" element="tns:getAddressesByZipResponse"/>
</message>
<message name="addSubscription">
<part name="parameters" element="tns:addSubscription"/>
</message>
<message name="addSubscriptionResponse">
<part name="parameters" element="tns:addSubscriptionResponse"/>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"/>
</message>
<message name="updateSubscriptionResponse">
<part name="parameters" element="tns:updateSubscriptionResponse"/>
</message>
<message name="removeSubscription">
<part name="parameters" element="tns:removeSubscription"/>
</message>
<message name="removeSubscriptionResponse">
<part name="parameters" element="tns:removeSubscriptionResponse"/>
</message>
<message name="addSubscriptionsToCustomer">
<part name="parameters" element="tns:addSubscriptionsToCustomer"/>
</message>
<message name="addSubscriptionsToCustomerResponse">
<part name="parameters" element="tns:addSubscriptionsToCustomerResponse"/>
</message>
<message name="removeSubscriptionsFromCustomer">
<part name="parameters" element="tns:removeSubscriptionsFromCustomer"/>
</message>
<message name="removeSubscriptionsFromCustomerResponse">
<part name="parameters" element="tns:removeSubscriptionsFromCustomerResponse"/>
</message>
<message name="getSubscriptionsOfCustomer">
<part name="parameters" element="tns:getSubscriptionsOfCustomer"/>
</message>
<message name="getSubscriptionsOfCustomerResponse">
<part name="parameters" element="tns:getSubscriptionsOfCustomerResponse"/>
</message>
<message name="getAllSubscriptions">
<part name="parameters" element="tns:getAllSubscriptions"/>
</message>
<message name="getAllSubscriptionsResponse">
<part name="parameters" element="tns:getAllSubscriptionsResponse"/>
</message>
<message name="getAllSubscriptionsByType">
<part name="parameters" element="tns:getAllSubscriptionsByType"/>
</message>
<message name="getAllSubscriptionsByTypeResponse">
<part name="parameters" element="tns:getAllSubscriptionsByTypeResponse"/>
</message>
<message name="getSubscriptionByTitle">
<part name="parameters" element="tns:getSubscriptionByTitle"/>
</message>
<message name="getSubscriptionByTitleResponse">
<part name="parameters" element="tns:getSubscriptionByTitleResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="removeCustomerResponse">
<part name="parameters" element="tns:removeCustomerResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="getCustomerById">
<part name="parameters" element="tns:getCustomerById"/>
</message>
<message name="getCustomerByIdResponse">
<part name="parameters" element="tns:getCustomerByIdResponse"/>
</message>
<message name="getCustomerByFirstName">
<part name="parameters" element="tns:getCustomerByFirstName"/>
</message>
<message name="getCustomerByFirstNameResponse">
<part name="parameters" element="tns:getCustomerByFirstNameResponse"/>
</message>
<message name="getCustomerByLastName">
<part name="parameters" element="tns:getCustomerByLastName"/>
</message>
<message name="getCustomerByLastNameResponse">
<part name="parameters" element="tns:getCustomerByLastNameResponse"/>
</message>
<message name="addAddressToCustomer">
<part name="parameters" element="tns:addAddressToCustomer"/>
</message>
<message name="addAddressToCustomerResponse">
<part name="parameters" element="tns:addAddressToCustomerResponse"/>
</message>
<message name="updateAddressToCustomer">
<part name="parameters" element="tns:updateAddressToCustomer"/>
</message>
<message name="updateAddressToCustomerResponse">
<part name="parameters" element="tns:updateAddressToCustomerResponse"/>
</message>
<message name="removeAddressOfCustomer">
<part name="parameters" element="tns:removeAddressOfCustomer"/>
</message>
<message name="removeAddressOfCustomerResponse">
<part name="parameters" element="tns:removeAddressOfCustomerResponse"/>
</message>
<message name="getAddressesOfCustomer">
<part name="parameters" element="tns:getAddressesOfCustomer"/>
</message>
<message name="getAddressesOfCustomerResponse">
<part name="parameters" element="tns:getAddressesOfCustomerResponse"/>
</message>
<message name="getAddressesByCity">
<part name="parameters" element="tns:getAddressesByCity"/>
</message>
<message name="getAddressesByCityResponse">
<part name="parameters" element="tns:getAddressesByCityResponse"/>
</message>
<portType name="PublishingBean">
<operation name="getAddresses">
<input wsam:Action="http://ejb/PublishingBean/getAddressesRequest" message="tns:getAddresses"/>
<output wsam:Action="http://ejb/PublishingBean/getAddressesResponse" message="tns:getAddressesResponse"/>
</operation>
<operation name="getAddressesByState">
<input wsam:Action="http://ejb/PublishingBean/getAddressesByStateRequest" message="tns:getAddressesByState"/>
<output wsam:Action="http://ejb/PublishingBean/getAddressesByStateResponse" message="tns:getAddressesByStateResponse"/>
</operation>
<operation name="getAddressesByZip">
<input wsam:Action="http://ejb/PublishingBean/getAddressesByZipRequest" message="tns:getAddressesByZip"/>
<output wsam:Action="http://ejb/PublishingBean/getAddressesByZipResponse" message="tns:getAddressesByZipResponse"/>
</operation>
<operation name="addSubscription">
<input wsam:Action="http://ejb/PublishingBean/addSubscriptionRequest" message="tns:addSubscription"/>
<output wsam:Action="http://ejb/PublishingBean/addSubscriptionResponse" message="tns:addSubscriptionResponse"/>
</operation>
<operation name="updateSubscription">
<input wsam:Action="http://ejb/PublishingBean/updateSubscriptionRequest" message="tns:updateSubscription"/>
<output wsam:Action="http://ejb/PublishingBean/updateSubscriptionResponse" message="tns:updateSubscriptionResponse"/>
</operation>
<operation name="removeSubscription">
<input wsam:Action="http://ejb/PublishingBean/removeSubscriptionRequest" message="tns:removeSubscription"/>
<output wsam:Action="http://ejb/PublishingBean/removeSubscriptionResponse" message="tns:removeSubscriptionResponse"/>
</operation>
<operation name="addSubscriptionsToCustomer">
<input wsam:Action="http://ejb/PublishingBean/addSubscriptionsToCustomerRequest" message="tns:addSubscriptionsToCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/addSubscriptionsToCustomerResponse" message="tns:addSubscriptionsToCustomerResponse"/>
</operation>
<operation name="removeSubscriptionsFromCustomer">
<input wsam:Action="http://ejb/PublishingBean/removeSubscriptionsFromCustomerRequest" message="tns:removeSubscriptionsFromCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/removeSubscriptionsFromCustomerResponse" message="tns:removeSubscriptionsFromCustomerResponse"/>
</operation>
<operation name="getSubscriptionsOfCustomer">
<input wsam:Action="http://ejb/PublishingBean/getSubscriptionsOfCustomerRequest" message="tns:getSubscriptionsOfCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/getSubscriptionsOfCustomerResponse" message="tns:getSubscriptionsOfCustomerResponse"/>
</operation>
<operation name="getAllSubscriptions">
<input wsam:Action="http://ejb/PublishingBean/getAllSubscriptionsRequest" message="tns:getAllSubscriptions"/>
<output wsam:Action="http://ejb/PublishingBean/getAllSubscriptionsResponse" message="tns:getAllSubscriptionsResponse"/>
</operation>
<operation name="getAllSubscriptionsByType">
<input wsam:Action="http://ejb/PublishingBean/getAllSubscriptionsByTypeRequest" message="tns:getAllSubscriptionsByType"/>
<output wsam:Action="http://ejb/PublishingBean/getAllSubscriptionsByTypeResponse" message="tns:getAllSubscriptionsByTypeResponse"/>
</operation>
<operation name="getSubscriptionByTitle">
<input wsam:Action="http://ejb/PublishingBean/getSubscriptionByTitleRequest" message="tns:getSubscriptionByTitle"/>
<output wsam:Action="http://ejb/PublishingBean/getSubscriptionByTitleResponse" message="tns:getSubscriptionByTitleResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://ejb/PublishingBean/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/createCustomerResponse" message="tns:createCustomerResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://ejb/PublishingBean/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://ejb/PublishingBean/removeCustomerRequest" message="tns:removeCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/removeCustomerResponse" message="tns:removeCustomerResponse"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://ejb/PublishingBean/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://ejb/PublishingBean/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="getCustomerById">
<input wsam:Action="http://ejb/PublishingBean/getCustomerByIdRequest" message="tns:getCustomerById"/>
<output wsam:Action="http://ejb/PublishingBean/getCustomerByIdResponse" message="tns:getCustomerByIdResponse"/>
</operation>
<operation name="getCustomerByFirstName">
<input wsam:Action="http://ejb/PublishingBean/getCustomerByFirstNameRequest" message="tns:getCustomerByFirstName"/>
<output wsam:Action="http://ejb/PublishingBean/getCustomerByFirstNameResponse" message="tns:getCustomerByFirstNameResponse"/>
</operation>
<operation name="getCustomerByLastName">
<input wsam:Action="http://ejb/PublishingBean/getCustomerByLastNameRequest" message="tns:getCustomerByLastName"/>
<output wsam:Action="http://ejb/PublishingBean/getCustomerByLastNameResponse" message="tns:getCustomerByLastNameResponse"/>
</operation>
<operation name="addAddressToCustomer">
<input wsam:Action="http://ejb/PublishingBean/addAddressToCustomerRequest" message="tns:addAddressToCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/addAddressToCustomerResponse" message="tns:addAddressToCustomerResponse"/>
</operation>
<operation name="updateAddressToCustomer">
<input wsam:Action="http://ejb/PublishingBean/updateAddressToCustomerRequest" message="tns:updateAddressToCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/updateAddressToCustomerResponse" message="tns:updateAddressToCustomerResponse"/>
</operation>
<operation name="removeAddressOfCustomer">
<input wsam:Action="http://ejb/PublishingBean/removeAddressOfCustomerRequest" message="tns:removeAddressOfCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/removeAddressOfCustomerResponse" message="tns:removeAddressOfCustomerResponse"/>
</operation>
<operation name="getAddressesOfCustomer">
<input wsam:Action="http://ejb/PublishingBean/getAddressesOfCustomerRequest" message="tns:getAddressesOfCustomer"/>
<output wsam:Action="http://ejb/PublishingBean/getAddressesOfCustomerResponse" message="tns:getAddressesOfCustomerResponse"/>
</operation>
<operation name="getAddressesByCity">
<input wsam:Action="http://ejb/PublishingBean/getAddressesByCityRequest" message="tns:getAddressesByCity"/>
<output wsam:Action="http://ejb/PublishingBean/getAddressesByCityResponse" message="tns:getAddressesByCityResponse"/>
</operation>
</portType>
<binding name="PublishingBeanPortBinding" type="tns:PublishingBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAddresses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByZip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscriptionsToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscriptionsFromCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubscriptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubscriptionsByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAddressOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PublishingBeanService">
<port name="PublishingBeanPort" binding="tns:PublishingBeanPortBinding">
<soap:address location="http://localhost:8080/PublishingBeanService/PublishingBean"/>
</port>
</service>
</definitions>